<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.card.alumni.dao.CaCommentMapper" >
  <resultMap id="BaseResultMap" type="com.card.alumni.entity.CaComment" >
    <constructor >
      <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="tenant_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="target_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="root_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="root_user_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="root_user_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="root_user_avatar" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="content" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="creator" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="creator_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="creator_avatar" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="updater" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="is_delete" jdbcType="BIT" javaType="java.lang.Boolean" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, tenant_id, target_id, root_id, root_user_id, root_user_name, root_user_avatar, 
    content, creator, creator_name, creator_avatar, create_time, updater, update_time, 
    is_delete
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.card.alumni.entity.CaCommentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from ca_comment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ca_comment
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ca_comment
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.card.alumni.entity.CaCommentExample" >
    delete from ca_comment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.card.alumni.entity.CaComment" >
    insert into ca_comment (id, tenant_id, target_id, 
      root_id, root_user_id, root_user_name, 
      root_user_avatar, content, creator, 
      creator_name, creator_avatar, create_time, 
      updater, update_time, is_delete
      )
    values (#{id,jdbcType=BIGINT}, #{tenantId,jdbcType=INTEGER}, #{targetId,jdbcType=BIGINT}, 
      #{rootId,jdbcType=BIGINT}, #{rootUserId,jdbcType=INTEGER}, #{rootUserName,jdbcType=VARCHAR}, 
      #{rootUserAvatar,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{creator,jdbcType=INTEGER}, 
      #{creatorName,jdbcType=VARCHAR}, #{creatorAvatar,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updater,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.card.alumni.entity.CaComment" >
    insert into ca_comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="tenantId != null" >
        tenant_id,
      </if>
      <if test="targetId != null" >
        target_id,
      </if>
      <if test="rootId != null" >
        root_id,
      </if>
      <if test="rootUserId != null" >
        root_user_id,
      </if>
      <if test="rootUserName != null" >
        root_user_name,
      </if>
      <if test="rootUserAvatar != null" >
        root_user_avatar,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="creatorName != null" >
        creator_name,
      </if>
      <if test="creatorAvatar != null" >
        creator_avatar,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updater != null" >
        updater,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="tenantId != null" >
        #{tenantId,jdbcType=INTEGER},
      </if>
      <if test="targetId != null" >
        #{targetId,jdbcType=BIGINT},
      </if>
      <if test="rootId != null" >
        #{rootId,jdbcType=BIGINT},
      </if>
      <if test="rootUserId != null" >
        #{rootUserId,jdbcType=INTEGER},
      </if>
      <if test="rootUserName != null" >
        #{rootUserName,jdbcType=VARCHAR},
      </if>
      <if test="rootUserAvatar != null" >
        #{rootUserAvatar,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=INTEGER},
      </if>
      <if test="creatorName != null" >
        #{creatorName,jdbcType=VARCHAR},
      </if>
      <if test="creatorAvatar != null" >
        #{creatorAvatar,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        #{updater,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.card.alumni.entity.CaCommentExample" resultType="java.lang.Integer" >
    select count(*) from ca_comment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ca_comment
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.tenantId != null" >
        tenant_id = #{record.tenantId,jdbcType=INTEGER},
      </if>
      <if test="record.targetId != null" >
        target_id = #{record.targetId,jdbcType=BIGINT},
      </if>
      <if test="record.rootId != null" >
        root_id = #{record.rootId,jdbcType=BIGINT},
      </if>
      <if test="record.rootUserId != null" >
        root_user_id = #{record.rootUserId,jdbcType=INTEGER},
      </if>
      <if test="record.rootUserName != null" >
        root_user_name = #{record.rootUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.rootUserAvatar != null" >
        root_user_avatar = #{record.rootUserAvatar,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=INTEGER},
      </if>
      <if test="record.creatorName != null" >
        creator_name = #{record.creatorName,jdbcType=VARCHAR},
      </if>
      <if test="record.creatorAvatar != null" >
        creator_avatar = #{record.creatorAvatar,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updater != null" >
        updater = #{record.updater,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isDelete != null" >
        is_delete = #{record.isDelete,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ca_comment
    set id = #{record.id,jdbcType=BIGINT},
      tenant_id = #{record.tenantId,jdbcType=INTEGER},
      target_id = #{record.targetId,jdbcType=BIGINT},
      root_id = #{record.rootId,jdbcType=BIGINT},
      root_user_id = #{record.rootUserId,jdbcType=INTEGER},
      root_user_name = #{record.rootUserName,jdbcType=VARCHAR},
      root_user_avatar = #{record.rootUserAvatar,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=VARCHAR},
      creator = #{record.creator,jdbcType=INTEGER},
      creator_name = #{record.creatorName,jdbcType=VARCHAR},
      creator_avatar = #{record.creatorAvatar,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      updater = #{record.updater,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      is_delete = #{record.isDelete,jdbcType=BIT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.card.alumni.entity.CaComment" >
    update ca_comment
    <set >
      <if test="tenantId != null" >
        tenant_id = #{tenantId,jdbcType=INTEGER},
      </if>
      <if test="targetId != null" >
        target_id = #{targetId,jdbcType=BIGINT},
      </if>
      <if test="rootId != null" >
        root_id = #{rootId,jdbcType=BIGINT},
      </if>
      <if test="rootUserId != null" >
        root_user_id = #{rootUserId,jdbcType=INTEGER},
      </if>
      <if test="rootUserName != null" >
        root_user_name = #{rootUserName,jdbcType=VARCHAR},
      </if>
      <if test="rootUserAvatar != null" >
        root_user_avatar = #{rootUserAvatar,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=INTEGER},
      </if>
      <if test="creatorName != null" >
        creator_name = #{creatorName,jdbcType=VARCHAR},
      </if>
      <if test="creatorAvatar != null" >
        creator_avatar = #{creatorAvatar,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        updater = #{updater,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.card.alumni.entity.CaComment" >
    update ca_comment
    set tenant_id = #{tenantId,jdbcType=INTEGER},
      target_id = #{targetId,jdbcType=BIGINT},
      root_id = #{rootId,jdbcType=BIGINT},
      root_user_id = #{rootUserId,jdbcType=INTEGER},
      root_user_name = #{rootUserName,jdbcType=VARCHAR},
      root_user_avatar = #{rootUserAvatar,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=INTEGER},
      creator_name = #{creatorName,jdbcType=VARCHAR},
      creator_avatar = #{creatorAvatar,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      updater = #{updater,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>